
*{
    box-sizing: border-box;
}
.ludo-container{
    width: 450px;
    margin: 20px auto;
}

.ludo-container .ludo{
    border: 1px solid red;
    height: 450px;
    width: 100%;
   background-image: url("./ludo-bg.jpg");
   background-size: contain; 
   position: relative;
}

.btn{
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-dice{
    background-color: #009d60;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.player-pieces{
    height: 100%;
    width: 100%;
}

.player-piece{
    width: 3%;
    height: 3%;
    border: 2px solid;
    border-radius: 50px;
    position: absolute;
}

[player-id="P1"].player-piece{
    background-color: #2eafff;
}


[player-id="P2"].player-piece{
    background-color: #00b550;
}

.player-piece.highlight{
    cursor: pointer;
    border: 2px dashed;
    animation: spin 1s infinite linear;
}

.player-base{
    width: 40%;
    height: 40%;
    border: 30px solid;
    position: absolute;
}

.player-bases [player-id="P1"].player-base{
    bottom: 0;
    left: 0;
    border-color: #1295e7;
}


.player-bases [player-id="P2"].player-base{
    top: 0;
    right: 0;
    border-color: #049645;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg) scale(1.4);
    }
    100%{
        transform: rotate(360deg);
    }
}
